<p id="notice"><%= notice %></p>

<h1>Issue Groups</h1>

<table>
  <thead>
    <tr>
      <th>Title</th>
      <th>Severity</th>
      <th>Description</th>
      <th>Customtargets</th>
      <th>Rating</th>
      <th>Recommendation</th>
      <th>Type</th>
      <th>Index</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @issue_groups.each do |issue_group| %>
      <tr>
        <td><%= issue_group.title %></td>
        <td><%= issue_group.severity %></td>
        <td><%= issue_group.description %></td>
        <td><%= issue_group.customtargets %></td>
        <td><%= issue_group.rating %></td>
        <td><%= issue_group.recommendation %></td>
        <td><%= issue_group.type %></td>
        <td><%= issue_group.index %></td>
        <td><%= link_to 'Show', issue_group %></td>
        <td><%= link_to 'Edit', edit_issue_group_path(issue_group) %></td>
        <td><%= link_to 'Destroy', issue_group, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Issue Group', new_issue_group_path %>
