<div class="modal-content">
  <div class="modal-header bg-success">
    <h5 class="modal-title text-white">Create a new note</h5>
    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
  </div>
  <div class="modal-body">
    <%= simple_form_for @note, remote: true do |f| %>
      <input type="hidden" name="noteable_type" value="<%= @noteable.model_name %>">
      <input type="hidden" name="noteable_id" value="<%= @noteable.id %>">
      <div class="row mt-3">
        <div class="input-group mb-3">
          <span class="input-group-text bg-success border-success text-white"><%= @noteable.model_name %></span>
          <span class="input-group-text"><%= @noteable_info %></span>
          <%= f.text_field :content, class: "form-control" %>
          <button type="submit" class="btn btn-success"><i class="fas fa-save"></i></button>
        </div>
      </div>
    <% end %>
  </div>
</div>
