<div class="d-flex justify-content-center mt-5">
  <%= simple_form_for(resource, as: resource_name, url: registration_path(resource_name ), html: { method: :put }) do |f| %>
    <%= f.input :password, autocomplete: "off", required: true %>
    <%= f.input :password_confirmation, required: true %>
    <%= f.input :current_password, hint: "we need your current password to confirm your changes", required: true  %>
    <%= f.button :submit, "Update password", class: "btn-primary" %>
  <% end %>
</div>
