<style><%= Diffy::CSS %></style>
<div class="modal-content">
  <div class="modal-header bg-primary">
    <h5 class="modal-title text-white">Apply changes to issue template</h5>
    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
      <span class="text-white" aria-hidden="true">&times;</span>
    </button>
  </div>
  <div class="modal-body">
    <div class="row">
      <div class="col-6">
        <h5>Title</h5>
        <div class='well diff'>
          <%= diff(@issue_template_remote['title'], @issue.title) %>
        </div>
      </div>
      <div class="col-6">
        <h5>Severity</h5>
        <div class='well diff'>
          <%= diff(@issue_template_remote['severity'], @issue.severity) %>
        </div>
      </div>
    </div>
    <div class="row">
      <div class="col-12">
        <h5>Description</h5>
        <div class='well diff'>
          <%= diff(@issue_template_remote['description'], @issue.description) %>
        </div>
      </div>
    </div>
    <div class="row">
      <div class="col-6">
        <h5>Rating</h5>
        <div class='well diff'>
          <%= diff(@issue_template_remote['rating'], @issue.rating) %>
        </div>
      </div>
      <div class="col-6">
        <h5>Recommendation</h5>
        <div class='well diff'>
          <%= diff(@issue_template_remote['recommendation'], @issue.recommendation) %>
        </div>
      </div>
    </div>
  </div>
  <div class="modal-footer">
    <%= link_to update_template_path(@issue), remote: :true, class: "btn btn-sm btn-primary" do %>
      <i class="fas fa-cloud-upload-alt mr-2"></i>Save to cloud
    <% end %>
  </div>
</div>
