<%= simple_form_for @issue, remote: true do |f| %>
  <div class="row">
    <%= f.input :title, required: true, wrapper_html: { class: 'col-7' } %>
    <%= f.input :severity, collection: [['information', '0'],['low', '1'], ['medium', '2'], ['high', '3'], ['critical', '4']], include_blank: false, wrapper_html: { class: 'col-2' } %>
    <%= f.input :index, wrapper_html: { class: 'col-1' } %>
    <div class="col-2 form-group d-flex align-items-end">
      <button type="submit" class="btn btn-primary btn-save btn-save-fallback me-2"><i class="fas fa-save"></i></button><small class="text-muted">or use CTRL + s</small>
    </div>
  </div>
  <div class="row">
    <div class="col-12">
      <%= f.input :description, wrapper_html: { class: 'col s12' }, input_html: { class: 'editor'} %>
    </div>
  </div>
  <div class="row">
    <%= f.input :customtargets, label: "Custom targets", wrapper_html: { class: 'col-6' }, :input_html => { :rows => 1 } %>
    <div class="col-6">
      <label class="form-label">Linked clients</label>
      <div class="col-auto"><!-- needed for line break -->
        <% @issue.clients.uniq.each do |client| %>
          <div class="btn-group btn-group-sm pb-2 pr-2" id="link_client_id-<%= client.id %>" role="group">
            <button type="button" class="btn btn-dark" disabled> <%= client.mac.present? ? "#{client.mac} / " : '' %><%= client.ip %><%= " (#{client.hostname})" unless client.hostname.nil? %></button>
              <%= link_to clients_unlink_issue_path(client, @issue),remote: true, class: "btn btn-light" do %>
                <i class="fas fa-times text-danger"></i>
              <% end %>
          </div>
        <% end %>
        <%= link_to issue_link_clients_form_path, class: "btn btn-outline-warning btn-sm align-top", remote: true do %>
          <i class="fas fa-plus"></i>
        <% end %>
      </div>
    </div>
  </div>
  <div class="row">
    <div class="col-12 mb-2">
      <label for="issue_screenshot_image" class="form-label me-2">New screenshot</label><small class="text-muted">Hint: use CTRL + v if your image is placed in your clipboard</small>
      <input class="form-control" name="issue[screenshot][image]" id="issue_screenshot_image" type="file">
    </div>
  </div>
  <div class="row">
    <% @issue.screenshots.order(:description).each do |screenshot| %>
      <div class="col-3 mb-2 mt-2">
        <%= link_to edit_screenshot_path(screenshot), remote: true do %>
          <%= image_tag url_for(screenshot.image), width: "100%" %>
        <% end %>
        <span>
          <%= screenshot.description.nil? ? "No description yet" : screenshot.description %>
          <%= link_to screenshot, method: :delete, data: { confirm: 'Are you sure?' }, class: "", remote: true do %>
            <i class="fas fa-trash text-danger me-2"></i>Delete
          <% end %>
        </span>
      </div>
    <% end %>
  </div>
  <div class="row">
    <%= f.input :rating, wrapper_html: { class: 'col-12' }, input_html: { class: 'editor'} %>
  </div>
  <div class="row mb-10">
    <%= f.input :recommendation, wrapper_html: { class: 'col-12' }, input_html: { class: 'editor'} %>
  </div>
<% end %>
