<%= simple_form_for @issue, remote: true, authenticity_token: true, html: { multipart: true } do |f| %>
  <div class="row">
    <%= f.input :title, required: true, wrapper_html: { class: 'col-7' } %>
    <%= f.input :severity, collection: [['information', '0'],['low', '1'], ['medium', '2'], ['high', '3'], ['critical', '4']], include_blank: false, wrapper_html: { class: 'col-2' } %>
    <%= f.input :index, wrapper_html: { class: 'col-1' } %>
    <div class="col-2 form-group d-flex align-items-end">
      <button type="submit" class="btn btn-primary btn-save"><i class="fas fa-save"></i></button>
    </div>
  </div>
  <div class="row">
    <div class="col-12">
      <%= f.input :description, wrapper_html: { class: 'col s12' }, input_html: { class: 'editor'} %>
    </div>
  </div>
  <div class="row">
    <div class="col-4 mb-2">
      <label for="issue_screenshot_image" class="form-label">New screenshot</label>
      <input class="form-control" name="issue[screenshot][image]" id="issue_screenshot_image" type="file">
    </div>
    <% @issue.screenshots.each do |screenshot| %>
      <div class="col-2">
        <%= image_tag url_for(screenshot.image), :class => "materialboxed tooltipped pb-05", width: '100%', data: { position: "top", tooltip: screenshot.description.nil? ? "No description yet" : screenshot.description } %>
        <%= link_to edit_screenshot_path(screenshot), class: "btn-flat left grey lighten-3", remote: true do %>
          <i class="material-icons orange-text text-darken-3">description</i>
        <% end %>
        <%= link_to screenshot, method: :delete, data: { confirm: 'Are you sure?' }, class: "btn-flat right grey lighten-3", remote: true do %>
          <i class="material-icons red-text text-darken-3">delete</i>
        <% end %>
      </div>
    <% end %>
  </div>
  <div class="row">
    <%= f.input :customtargets, label: "Custom targets", wrapper_html: { class: 'col-6' } %>
    <div class="col-6">
      <label for="linked_clients" class="form-label">Linked clients</label>
      <div class="col-auto"><!-- needed for line break -->
        <% @issue.clients.each do |client| %>
          <div class="btn-group btn-group-sm pb-2 pr-2" id="linked_clients" role="group">
            <button type="button" class="btn btn-dark" disabled><%= client.ip %><%= " (#{client.hostname})" unless client.hostname.nil? %></button>
              <%= link_to clients_unlink_issue_path(client, @issue),remote: true, class: "btn btn-light" do %>
                <i class="fas fa-times text-danger"></i>
              <% end %>
          </div>
        <% end %>
        <%= link_to issue_link_clients_form_path, class: "btn btn-outline-success btn-sm align-top", remote: true do %>
          <i class="fas fa-plus"></i>
        <% end %>
      </div>
    </div>
  </div>
  <div class="row">
      <%= f.input :rating, wrapper_html: { class: 'col-12' }, input_html: { class: 'editor'} %>
  </div>
  <div class="row">
      <%= f.input :recommendation, wrapper_html: { class: 'col-12' }, input_html: { class: 'editor'} %>
  </div>
<% end %>
