<div class="modal-content">
  <div class="modal-header bg-primary">
    <h5 class="modal-title text-white">Create a new issue</h5>
    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
  </div>
  <div class="modal-body">
    <table class="table table-striped table-bordered dt-init w-100">
      <thead>
        <tr>
          <th>Severity</th>
          <th>Title</th>
          <th>Action</th>
        </tr>
      </thead>
      <tbody>
        <% @issue_templates.each do |issue_template| %>
          <tr>
            <td><i style="color: <%= issue_template.color_hex %>" class="fas fa-bug"></i></td>
            <td><%= issue_template.title %></td>
            <td>
              <%= simple_form_for @issue do |f| %>
                <% if @client %>
                    <input type="hidden" name="client" value="<%= @client.id %>">
                <% end %>
                <input type="hidden" name="issue_template" value="<%= issue_template.id %>">
                <button type="submit" class="btn btn-sm btn-light"><i class="fas fa-plus me-2"></i>create issue</button>
              <% end %>
            </td>
          </tr>
        <% end %>
      </tbody>
    </table>
  </div>
  <div class="modal-footer">
    <%= simple_form_for @issue do |f| %>
      <button type="submit" class="btn btn-sm btn-primary"><i class="fas fa-plus me-2"></i>create blank issue</button>
    <% end %>
  </div>
</div>
