<%= simple_form_for :group, url: groups_path, remote: true do |f| %>
  <div class="modal-content">
    <div class="modal-header bg-success">
      <h5 class="modal-title text-white">Create new group with selected clients</h5>
      <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
    </div>
    <div class="modal-body">
      <div class="row">
        <div class="col-6">
          <%= f.input :source_group, disabled: true, input_html: { value: source_group.name } %>
          <input type="hidden" name="source_group" value="<%= source_group.id %>">
          <input type="hidden" name="search" value="<%= search %>">
        </div>
        <div class="col-6">
          <%= f.input :name, :wrapper_html => { :class => "s12" } %>
        </div>
      </div>
      <div class="row">
        <div class="col-6 mt-2">
          <div class="form-check form-switch">
            <input name="move" class="form-check-input" type="checkbox" value="true" id="move_switch">
            <label class="form-check-label" for="move_switch">Want to move clients instead of copy?</label>
          </div>
        </div>
        <div class="col-6">
          <%= f.input :icon, placeholder: "Type to search ...", :input_html => {:class => "iconpicker"} %>
        </div>
      </div>
      <div class="row">
        <div class="col">
          <%= f.label :selected_clients %>
          <% clients.each do | temp_client | %>
            <span class="badge bg-secondary"><%= temp_client.ip %></span>
            <input type="hidden" name="selected_clients[]" value="<%= temp_client.id %>" />
          <% end %>
        </div>
      </div>
    </div>
    <div class="modal-footer">
      <%= f.button :submit, 'Create', :class => 'btn-success' %>
    </div>
  </div>
<% end %>
