<style>
  .iconsholder {
    box-sizing: unset;
  }
  .howl-iconpicker-close {
    width: 260px;
  }
  .srchicons {
    text-align: center !important;
  }
  .howl-iconpicker {
    background: #fff;
  }
  .selectedicon {
    background: #1976D2!important;
    border-color: #1976D2!important;
    color: #fff;
  }
</style>
<%= simple_form_for :group, url: groups_path, remote: true do |f| %>
  <div class="modal-content p-0">
    <div class="row green lighten-4 pt-3 pb-2">
      <div class="col s12 center">
          <h3 class="green-text text-darken-3">Create new group with selected clients</h3>
      </div>
    </div>
    <div class="row padding-2">
      <div class="col s6">
        <div class="input-field">
          <input disabled value="<%= source_group.name %>" id="disabled" type="text" class="validate" autofocus>
          <label for="disabled">Source Group</label>
          <input type="hidden" name="source_group" value="<%= source_group.id %>">
          <input type="hidden" name="search" value="<%= search %>">
        </div>
        <label>Action applied to selected clients in new group</label>
        <div style="margin-bottom: 17px;"></div>
        <div class="switch">
          <label>Copy<input type="checkbox" name="move" value="true"><span class="lever"></span>Move</label>
        </div>
      </div>
      <div class="col s6">
        <%= f.input :name, :wrapper_html => { :class => "s12" } %>
        <%= f.input :icon, placeholder: "fab fa-windows", :input_html => {:class => "iconpicker"}, :wrapper_html => { :class => "s12" } %>
      </div>
    </div>
    <div class="row center-align padding-2">
      <div class="col s12" style="margin-bottom: 13px;">
        <label>Selected Clients</label>
      </div>
      <div class="col s12">
        <% clients.each do | temp_client | %>
            <div class="chip"><%= temp_client.ip %></div>
            <input type="hidden" name="selected_clients[]" value="<%= temp_client.id %>" />
        <% end %>
      </div>
    </div>
  </div>
  <div class="modal-footer">
    <%= f.button :submit, 'Create', :class => 'modal-action green darken-2' %>
  </div>
<% end %>
<script>
  $('.iconpicker').iconpicker(".iconpicker");
</script>
