<%= simple_form_for :group, url: groups_delete_path, remote: true do |f| %>
  <div class="modal-content">
    <div class="modal-header bg-danger">
      <h5 class="modal-title text-white">Delete whole group with selected clients</h5>
      <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
    </div>
    <div class="modal-body">
      <div class="row">
        <div class="col">
          <div class="alert alert-danger" role="alert">
            This task will remove the group and unlink the clients from it. All clients with no group membership will be removed from the database. (Archived clients will be ignored)
          </div>
        </div>
      </div>
      <div class="row">
        <div class="col">
          <%= f.input :target_group, disabled: true, input_html: { value: source_group.name } %>
          <input type="hidden" name="source_group" value="<%= source_group.id %>">
        </div>
      </div>
      <div class="row">
        <div class="col">
          <%= f.label :selected_clients %>
          <% clients.each do | temp_client | %>
            <span class="badge bg-secondary"><%= temp_client.ip %></span>
            <input type="hidden" name="selected_clients[]" value="<%= temp_client.id %>" />
          <% end %>
        </div>
      </div>
    </div>
    <div class="modal-footer">
      <%= f.button :submit, 'Delete', :class => 'btn-danger' %>
    </div>
  </div>
<% end %>
