<table class="table dt-init w-100" id="datatable-archived">
  <div class="d-flex">
    <div class="flex-grow-1">
      <div class="group-actions">
        <div class="btn-toolbar mb-3" role="toolbar">
          <div class="btn-group me-3" role="group" aria-label="group-actions">
            <button type="button" class="btn btn-sm btn-outline-secondary grp_unarchive"><i class="fas fa-inbox"></i></button>
            <button type="button" class="btn btn-sm btn-outline-secondary grp_export"><i class="fas fa-download me-1"></i>wget</button>
            <button type="button" class="btn btn-sm btn-outline-secondary grp_mark_all"><i class="fas fa-check-square"></i></i></button>
            <button type="button" class="btn btn-sm btn-outline-secondary grp_unmark_all"><i class="far fa-check-square"></i></i></button>
          </div>
        </div>
     </div>
    </div>
    <span class="text-primary">
      <i class="fas fa-archive me-2"></i></span>Archived Clients
    </span>
  </div>
  <thead>
    <tr>
      <th>IP</th>
      <th>Hostname</th>
      <th>Operating System</th>
      <th>Ports</th>
    </tr>
  </thead>
  <tbody>
    <% Client.where(archived: true).order(:ip).to_a.each do |current_client| %>
    <tr class="ui-selectee">
      <td>
        <%= link_to "#{current_client.ip}", client_path(current_client.id), :remote => true, :id => current_client.id, :class => "client_view" %>
        <% count_notes = current_client.notes.size %>
        <%= "<sup>#{count_notes}</sup>".html_safe if count_notes > 0 %>
      </td>
      <td><%= "#{current_client.hostname}" %></td>
      <td><%= "#{current_client.os}" %></td>
      <td><%= "#{current_client.ports.count}" %></td>
    </tr>
    <% end %>
  </tbody>
</table>
