<table class="table table-striped table-bordered dt-init w-100">
  <div class="d-flex">
    <div class="flex-grow-1">
      <div class="group-actions" id="<%= "#{@group.id}" %>">
        <div class="btn-toolbar mb-3" role="toolbar">
          <div class="btn-group me-2" role="group" aria-label="group-actions">
            <button type="button" class="btn btn-sm btn-light grp_archive"><i class="fas fa-archive"></i></button>
            <button type="button" class="btn btn-sm btn-light grp_export"><i class="fas fa-download me-1"></i>wget</button>
            <button type="button" class="btn btn-sm btn-light grp_mark_all"><i class="fas fa-check-square"></i></i></button>
            <button type="button" class="btn btn-sm btn-light grp_unmark_all"><i class="far fa-check-square"></i></i></button>
          </div>
          <div class="btn-group me-2" role="group" aria-label="group-actions">
            <button type="button" class="btn btn-sm btn-danger grp_delete"><i class="fas fa-trash me-1"></i>rm -r</button>
            <button type="button" class="btn btn-sm btn-warning grp_delete_clients"><i class="far fa-trash-alt me-1"></i>rm</button>
          </div>
          <div class="btn-group me-2" role="group" aria-label="group-actions">
            <button type="button" class="btn btn-sm btn-primary grp_move"><i class="fas fa-angle-right me-1"></i>mv</button>
            <button type="button" class="btn btn-sm btn-primary grp_copy"><i class="fas fa-copy me-1"></i>cp</button>
            <button type="button" class="btn btn-sm btn-success grp_new"><i class="fas fa-plus me-1"></i>new</button>
          </div>
        </div>
     </div>
    </div>
    <span class="text-primary">
      <%= "#{@group.icon}".html_safe %><span class="me-2"></span><%= "#{@group.name}" %>
    </span>
  </div>
  <thead>
    <tr>
      <th>IP</th>
      <th>Hostname</th>
      <th>Operating System</th>
      <th>Ports</th>
    </tr>
  </thead>
  <tbody>
    <% @group.clients.where.not(archived: true).order(:ip).to_a.each do |current_client| %>
    <tr class="ui-selectee">
      <td>
        <%= link_to "#{current_client.ip}", client_path(current_client.id), :remote => true, :id => current_client.id, :class => 'blue-text text-darken-2' %>
        <% count_notes = current_client.notes.size %>
        <%= "<sup>#{count_notes}</sup>".html_safe if count_notes > 0 %>
      </td>
      <td><%= "#{current_client.hostname}" %></td>
      <td><%= "#{current_client.os}" %></td>
      <td><%= "#{current_client.ports.count}" %></td>
    </tr>
    <% end %>
  </tbody>
</table>
