<%= simple_form_for :group, url: groups_move_path, remote: true do |f| %>
  <div class="modal-content">
    <div class="modal-header bg-primary">
      <h5 class="modal-title text-white">Move selected clients</h5>
      <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
    </div>
    <div class="modal-body">
      <% if search %>
        <div class="row">
          <div class="col">
            <div class="alert alert-warning" role="alert">
              This task will remove the selected client(s) from all groups and add them to the target group.
            </div>
          </div>
        </div>
      <% end %>
      <div class="row">
        <div class="col-6">
          <%= f.input :source_group, disabled: true, input_html: { value: source_group.name } %>
          <input type="hidden" name="source_group" value="<%= source_group.id %>">
          <input type="hidden" name="search" value="<%= search %>">
        </div>
        <div class="col-6">
          <%= f.input :destination_group, input_html: { name: 'destination_group' }, collection: Group.where.not(id: source_group.id).order(mod: :desc, name: :asc), include_blank: false %>
        </div>
      </div>
      <div class="row">
        <div class="col">
          <%= f.label :selected_clients %>
          <% clients.each do | temp_client | %>
            <span class="badge bg-secondary"><%= temp_client.ip %></span>
            <input type="hidden" name="selected_clients[]" value="<%= temp_client.id %>" />
          <% end %>
        </div>
      </div>
    </div>
    <div class="modal-footer">
      <%= f.button :submit, 'Move', :class => 'btn-primary' %>
    </div>
  </div>
<% end %>
