<div class="modal-content p-0">
  <div class="row blue lighten-4 pt-3 pb-2">
    <div class="col s12 center">
        <h3 class="blue-text text-darken-3">Start scan with selected targets</h3>
    </div>
  </div>
  <div class="row">
    <ul class="tabs tabs-fixed-width">
      <li class="tab col s3"><a href="#prescan">Preconfigured Scan</a></li>
      <li class="tab col s3"><a href="#manscan">Manual Scan</a></li>
    </ul>
    <div id="prescan">
      <div class="white">
        <div class="container">
          <div class="row" style="padding: 2em;">
            <%= simple_form_for :scan, url: scans_create_path, remote: true, authenticity_token: true,  html: {multipart: true} do |f| %>
              <div class="input-field col s12">
                <select name="command" onchange="if (this.selectedIndex) setSavedScanLabel(this.options[this.selectedIndex].value);">
                  <option value="" disabled selected>Choose an option</option>
                  <% SavedScan.all.to_a.each do | saved_scan | %>
                    <option value="<%= saved_scan.parameter %>"><%= saved_scan.name %></option>
                  <% end %>
                </select>
                <label id="savedScanLabel">Scan Parameters*</label>
              </div>
              <div class="col s12" style="padding-bottom: 10px;">
                <label>Selected Clients* </label>
                <% strTarget = "" %>
                <% clients.each do | temp_client | %>
                  <div class="chip"><%= temp_client.ip %></div>
                  <% strTarget += temp_client.ip + " " %>
                <% end %>
              <input type="hidden" name="target" value="<%= strTarget.strip %>" />
              <input type="hidden" name="fromGroupView" value="1" />
              </div>
              <div class="input-field col s9">
                <input id="scan_name" placeholder="e.g. internal network" name="name" type="text" class="validate">
                <label for="scan_name">Name*</label>
              </div>
              <div class="input-field col s3">
                <button class="btn" type="submit" name="action"><i class="fas fa-coffee white-text"></i></button>
              </div>
            <% end %>
          </div>
        </div>
      </div>
    </div>
    <div id="manscan">
      <div class="white">
        <div class="container">
          <div class="row" style="padding: 2em;">
            <%= simple_form_for :scan, url: scans_create_path, remote: true, authenticity_token: true,  html: {multipart: true} do |f| %>
              <div class="input-field col s12">
                <input id="scan_paramater" placeholder="e.g. -sV -p 8000,252,447 -n" name="command" type="text" class="validate">
                <label for="scan_paramater">Nmap Parameter*</label>
              </div>
              <div class="col s12" style="padding-bottom: 10px;">
                <label>Selected Clients* </label>
                <% strTarget = "" %>
                <% clients.each do | temp_client | %>
                  <div class="chip"><%= temp_client.ip %></div>
                  <% strTarget += ", " + temp_client.ip %>
                <% end %>
              <input type="hidden" name="target" value="<%= strTarget %>" />
              <input type="hidden" name="fromGroupView" value="1" />
              </div>
              <div class="input-field col s9">
                <input id="scan_name" placeholder="e.g. internal network" name="name" type="text" class="validate">
                <label for="scan_name">Name*</label>
              </div>
              <div class="input-field col s3">
                <button class="btn" type="submit" name="action"><i class="fas fa-coffee white-text"></i></button>
              </div>
            <% end %>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

<script>
  function setSavedScanLabel(saved_scan){
    $("#savedScanLabel")[0].innerHTML = "Scan Parameter* ( " + saved_scan + " )";
  }
</script>