<div class="modal-content">
  <div class="modal-header bg-warning">
    <h5 class="modal-title">Link client to issue: <%= @client.ip %><%= " (#{@client.hostname})" unless @client.hostname.nil? %></h5>
    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
  </div>
  <div class="modal-body">
    <ul class="list-group">
      <% @issues.each do |issue| %>
        <li class="list-group-item border-top-0 border-end-0 border-start-0 d-flex align-items-center">
          <i style="color: <%= issue.color_hex %>" class="fas fa-bug me-2"></i>
          <span class="flex-fill"><%= issue.title %></span>
          <%= link_to clients_link_issue_path(@client, issue), remote: "true" do %>
            <button type="button" class="btn btn-outline-warning"><i class="fas fa-link me-2"></i>Link issue</button>
          <% end %>
        </li>
      <% end %>
    </ul>
  </div>
</div>
