<div class="row group-box scale-transition" id="box_-1">
   <div class="col s12" id="group_content_-1">
     <div class="card material-table">
       <div class="table-header">
         <span class="table-title"><i class="fas fa-search" aria-hidden="true"></i><span style="margin-left: 14px;"><%= "#{@search_name}" %></span></span>
         <div class="actions group-actions" id="-1">
           <a href="#" data-position="bottom" data-delay="50" data-tooltip="Export selected clients" class="btn-flat nopadding tooltipped grp_export"><i class="material-icons">file_download</i></a>
           <a href="#" data-position="bottom" data-delay="50" data-tooltip="Select all visible clients in group" class="btn-flat nopadding tooltipped grp_mark_all"><i class="material-icons">check_box</i></a>
           <a href="#" data-position="bottom" data-delay="50" data-tooltip="Unselect all visible clients in group" class="btn-flat nopadding tooltipped grp_unmark_all"><i class="material-icons">check_box_outline_blank</i></a>
           <a href="#" data-position="bottom" data-delay="50" data-tooltip="Delete selected clients from all groups" class="btn-flat nopadding tooltipped grp_delete_clients"><i class="material-icons red-text text-darken-4">delete</i></a>
           <a href="#" data-position="bottom" data-delay="50" data-tooltip="Move selected clients from all groups to another group" class="btn-flat nopadding tooltipped grp_move"><i class="material-icons blue-text text-darken-2">forward</i></a>
           <a href="#" data-position="bottom" data-delay="50" data-tooltip="Copy selected clients to another group" class="btn-flat nopadding tooltipped grp_copy"><i class="material-icons blue-text text-darken-2">content_copy</i></a>
           <a href="#" data-position="bottom" data-delay="50" data-tooltip="Add new group with selected clients" class="btn-flat nopadding tooltipped grp_new"><i class="material-icons green-text text-darken-2">group_add</i></a>
           <a href="#" data-position="bottom" data-delay="50" data-tooltip="Start scan with selected client" class="btn-flat nopadding tooltipped grp_scan"><i class="material-icons blue-text text-darken-2">gps_fixed</i></a>        
           <a href="#" data-position="bottom" data-delay="50" data-tooltip="Screenshot all http based services on selected clients" class="btn-flat nopadding tooltipped grp_image"><i class="material-icons blue-text text-darken-2">camera</i></a>
           <a href="#" data-position="bottom" data-delay="50" data-tooltip="Search in group" class="btn-flat nopadding tooltipped grp_search-toggle"><i class="material-icons yellow-text text-darken-4">search</i></a>
           <a href="#" data-position="bottom" data-delay="50" data-tooltip="Close group" class="btn-flat nopadding tooltipped grp_close"><i class="material-icons">close</i></a>
         </div>
       </div>
       <table id="datatable--1" class="dt_init">
         <thead>
         <tr>
           <th>IP</th>
           <th>Hostname</th>
           <th>Operating System</th>
           <th>Ports</th>
         </tr>
         </thead>
         <tbody>
            <% @clients.includes(:ports).order(:ip).each do |current_client| %>
              <tr class="ui-selectee">
                <td><%= link_to "#{current_client.ip}", client_path(current_client.id), :remote => true, :id => current_client.id, :class => 'blue-text text-darken-2' %></td>
                <td><%= "#{current_client.hostname}" %></td>
                <td><%= "#{current_client.os}" %></td>
                <td><%= "#{current_client.ports.size}" %></td>
              </tr>
            <%  end %>
         </tbody>
       </table>
     </div>
   </div>
</div>
