<div class="modal-content">
  <div class="modal-header bg-primary">
    <h5 class="modal-title text-white me-4">Global client search</h5>
    <div class="btn-group me-2">
      <button class="btn btn-outline-light dropdown-toggle" type="button" id="dd_client" data-bs-toggle="dropdown" aria-expanded="false">
       <i class="fas fa-laptop me-2"></i>Client
      </button>
      <ul class="dropdown-menu" aria-labelledby="dd_client">
        <li><a class="dropdown-item" href="#" onclick="addSearchOption('Client', 'Hostname', 0, '');">Hostname</a></li>
        <li><a class="dropdown-item" href="#" onclick="addSearchOption('Client', 'IP', 0, '');">IP Adress</a></li>
        <li><a class="dropdown-item" href="#" onclick="addSearchOption('Client', 'MAC', 0, '');">MAC Adress</a></li>
        <li><a class="dropdown-item" href="#" onclick="addSearchOption('Client', 'OS', 0, '');">Operating System</a></li>
        <li><a class="dropdown-item" href="#" onclick="addSearchOption('Client', 'CPE', 0, '');">CPE</a></li>
      </ul>
    </div>
    <div class="btn-group me-2">
      <button class="btn btn-outline-light dropdown-toggle" type="button" id="dd_port" data-bs-toggle="dropdown" aria-expanded="false">
        <i class="fas fa-sitemap me-2"></i>Port
      </button>
      <ul class="dropdown-menu" aria-labelledby="dd_port">
        <li><a class="dropdown-item" href="#" onclick="addSearchOption('Port', 'Number', 0, '');">Number</a></li>
        <li><a class="dropdown-item" href="#" onclick="addSearchOption('Port', 'Service', 0, '');">Service</a></li>
        <li><a class="dropdown-item" href="#" onclick="addSearchOption('Port', 'Description', 0, '');">Description</a></li>
      </ul>
    </div>
    <div class="btn-group me-2">
      <button class="btn btn-outline-light dropdown-toggle" type="button" id="dd_group" data-bs-toggle="dropdown" aria-expanded="false">
        <i class="fas fa-server me-2"></i>Group
      </button>
      <ul class="dropdown-menu" aria-labelledby="dd_group">
        <% Group.all.pluck(:name).uniq.each do |grp| %>
          <li><a class="dropdown-item" href="#" onclick="this.blur(); addSearchOption('Group', '<%= grp %>', 1);"><%= grp %></a></li>
        <% end %>
      </ul>
    </div>
    <div class="btn-group me-2">
      <button class="btn btn-outline-light dropdown-toggle" type="button" id="dd_label" data-bs-toggle="dropdown" aria-expanded="false">
        <i class="fas fa-tags me-2"></i>Label
      </button>
      <ul class="dropdown-menu" aria-labelledby="dd_label">
        <% Label.all.uniq.each do |lbl| %>
          <% lbl_count = lbl.clients.size %>
          <li><a class="dropdown-item" href="#" onclick="this.blur(); addSearchOption('Label', '<%= lbl.name %>', 1);"><%= lbl.name %><span class="badge ms-2 <%= lbl_count > 0 ? 'bg-primary': 'bg-secondary' %>"><%= lbl_count %></span></a></li>
        <% end %>
      </ul>
    </div>
    <a class="btn btn-outline-light me-2" onclick="addSearchOption('Output', 'Value', 0, '');"><i class="fas fa-file-code me-2"></i>Script output</a>
    
    <div class="btn-group me-2">
      <button class="btn btn-light dropdown-toggle" type="button" id="dd_entropy" data-bs-toggle="dropdown" aria-expanded="false">
        <i class="fas fa-chart-pie me-2"></i>Load entropy
      </button>
      <ul class="dropdown-menu" aria-labelledby="dd_entropy">
        <li><a class="dropdown-item" onclick="load_port_entropy();">Port entropy</a></li>
        <li><a class="dropdown-item" onclick="load_service_entropy();">Service entropy</a></li>
        <li><a class="dropdown-item" onclick="load_service_description_entropy();">Service description entropy</a></li>
      </ul>
    </div>
    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
  </div>
  <div class="modal-body">
    <div class="row">
      <div class="col-4">
        <%= simple_form_for :search, url: global_search_path, remote: true, multipart: true, :html => { :onsubmit => 'pre_load();', :id => 'global_search_form' } do |f| %>
          <div class="d-flex justify-content-between align-items-center mb-2">
            <div class="form-check form-switch">
              <input class="form-check-input" name="search_in_archived" value="true" type="checkbox" id="search_in_archived">
              <label class="form-check-label" for="search_in_archived">Include archived</label>
            </div>
            <button type="submit" id="submit-search" class="btn btn-primary submit-search" disabled><i class="fas fa-play me-2"></i>Run query</button>
          </div>
          <div id="end_of_form"></div>
        <% end %>
      </div>
      <div class="col-8 border-start">
        <div id="search_result">
          <%= render partial: "port_entropy" %>
        </div>
      </div>
    </div>
  </div>
  <div class="modal-footer">
    <a href="#" class="btn btn-success" data-bs-dismiss="modal" id="add_to_group_view">Add to Group-View</a>
    <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
  </div>
</div>
