<div class="modal-content global-search-content">
  <a href="#" class="modal-action modal-close red-text text-darken-2 right btn-flat"><i class="material-icons">close</i></a>
  <div class="row">
    <span>
      <a class='dropdown-trigger btn-large btn-flat grey lighten-3 blue-text text-darken-3' href='#' data-target='client'><i class="material-icons left">laptop</i>Client</a>
      <ul id='client' class='dropdown-content'>
        <li><a href="#" onclick="addSearchOption('Client', 'Hostname', 0);">Hostname</a></li>
        <li><a href="#" onclick="addSearchOption('Client', 'IP', 0);">IP Adress</a></li>
        <li><a href="#" onclick="addSearchOption('Client', 'MAC', 0);">MAC Adress</a></li>
        <li><a href="#" onclick="addSearchOption('Client', 'OS', 0);">Operating System</a></li>
        <li><a href="#" onclick="addSearchOption('Client', 'CPE', 0);">CPE</a></li>
      </ul>
    </span>
    <span class="pl-2">
      <a class='dropdown-trigger btn-large btn-flat grey lighten-3 blue-text text-darken-3' href='#' data-target='port'><i class="material-icons left">select_all</i>Port</a>
      <ul id='port' class='dropdown-content'>
        <li><a href="#" onclick="addSearchOption('Port', 'Number', 0);">Number</a></li>
        <li><a href="#" onclick="addSearchOption('Port', 'Service', 0);">Service</a></li>
        <li><a href="#" onclick="addSearchOption('Port', 'Description', 0);">Description</a></li>
      </ul>
    </span>
    <span class="pl-2">
      <a class='dropdown-trigger btn-large btn-flat grey lighten-3 blue-text text-darken-3' href='#' data-target='dropdown_group_name'><i class="material-icons left">devices</i>Group</a>
      <ul id='dropdown_group_name' class='dropdown-content'>
        <% Group.all.pluck(:name).uniq.each do |grp| %>
          <li><a href="#" onclick="this.blur(); addSearchOption('Group', '<%= grp %>', 1);"><%= grp %></a></li>
        <% end %>
      </ul>
    </span>
    <span class="pl-2">
      <a class='dropdown-trigger btn-large btn-flat grey lighten-3 blue-text text-darken-3' href='#' data-target='label'><i class="material-icons left">label</i>Label</a>
      <ul id='label' class='dropdown-content'>
        <% Label.all.pluck(:name).uniq.each do |lbl| %>
            <li><a href="#" onclick="this.blur(); addSearchOption('Label', '<%= lbl %>', 1);"><%= lbl %></a></li>
        <% end %>
      </ul>
    </span>
    <span class="pl-2">
      <a class="btn-large btn-flat grey lighten-3 blue-text text-darken-3" onclick="addSearchOption('Script Output', 'Value', 0);"><i class="material-icons left">code</i>Script</a>
    </span>
  </div>
       

 




  <div class="section">
    <div class="row">
      <div class="col s4">
        <%= simple_form_for :search, url: global_search_path, remote: true, multipart: true, :html => { :onsubmit => 'pre_load();', :id => 'global_search_form' } do |f| %>
          <div id="end_of_form"></div>
        <% end %>
      </div>
      <div class="col s8">
        <div id="search_result"></div>
      </div>
    </div>
  </div>
</div>

<div class="modal-footer global-search-footer">
  <a class="btn green darken-2 left submit-search"><i class="material-icons">search</i></a>
  <a href="#" class="btn modal-action blue darken-2" id="add_to_group_view">Add to Group-View</a>
</div>

<script>
  // global form counter
  var forms = 1;

  // init dropdown button
  $('.dropdown-trigger').dropdown({ constrainWidth: false });

  function addSearchOption(model, name, with_value) {
    if(with_value == 0) {
      var raw = `<div class="form_row">
        <div class="row">
        <input name="search[val${forms}[table]]" value="${model.toLowerCase()}" type="hidden">
        <input name="search[val${forms}[name]]" value="${name.toLowerCase()}" type="hidden">
          <div class="col s3" style="margin-top: 2em;">
            <a class="btn btn-small" onclick="reverse(this);">=</a>
            <input type="hidden" name="search[val${forms}[not]]" class="not" value="false">
          </div>
          <div class="input-field col s6">
            <input name="search[val${forms}[value]]" type="text" class="validate">
            <label class="active">${model} -> ${name}</label>
          </div>
          <div class="col s3" style="margin-top: 2em;">
            <a class="btn btn-small red darken-1 form_row_delete"><i class="material-icons">delete</i></a>
          </div>
        </div>
        <div class="row">
          <div class="col s11">
            <div class="switch center-align">
              <label>AND<input type="checkbox" name="search[val${forms}[or]]" value="true"><span class="lever"></span>OR</label>
            </div>
          </div>
        </div>
      </div>`;
    } else {
      var raw = `<div class="form_row">
        <div class="row">
        <input name="search[val${forms}[table]]" value="${model.toLowerCase()}" type="hidden">
        <input name="search[val${forms}[name]]" value="name" type="hidden">
          <div class="col s3" style="margin-top: 2em;">
            <a class="btn btn-small" onclick="reverse(this);">=</a>
            <input type="hidden" name="search[val${forms}[not]]" class="not" value="false">
          </div>
          <div class="input-field col s6">
            <input name="search[val${forms}[value]]" value="${name}" type="text" class="validate">
            <label class="active">${model}</label>
          </div>
          <div class="col s3" style="margin-top: 2em;">
            <a class="btn btn-small red darken-1 form_row_delete"><i class="material-icons">delete</i></a>
          </div>
        </div>
        <div class="row">
          <div class="col s11">
            <div class="switch center-align">
              <label>AND<input type="checkbox" name="search[val${forms}[or]]" value="true"><span class="lever"></span>OR</label>
            </div>
          </div>
        </div>
      </div>`;
    }
      // insert form row
      $(raw).insertBefore("#end_of_form").hide().fadeIn(300);

      // delete row button
      $('.form_row_delete').click(function () {
          $(this).parents('.form_row').fadeOut(300, function() {$(this).remove();});
      });

      // counter + 1
      forms = forms + 1;
  }

  // = --> != --> =
  function reverse(x) {
      if (x.innerHTML == "="){
          x.innerHTML = "!=";
          $(x).siblings(".not").val("true");
      } else {
          x.innerHTML = "=";
          $(x).siblings(".not").val("false");
      }
      x.blur();
  }

  function pre_load() {
    // disable search button
    $('.submit-search').addClass("disabled");

    // add spinner until query is ready
    $("#search_result").html('<div class="text-center" style="padding-top: 50px;"><div class="preloader-wrapper big active">\n' +
        '    <div class="spinner-layer spinner-blue-only">\n' +
        '      <div class="circle-clipper left">\n' +
        '        <div class="circle"></div>\n' +
        '      </div><div class="gap-patch">\n' +
        '        <div class="circle"></div>\n' +
        '      </div><div class="circle-clipper right">\n' +
        '        <div class="circle"></div>\n' +
        '      </div>\n' +
        '    </div>\n' +
        '  </div></div>');
  }

  $('#add_to_group_view').click(function () {
    $(".selected-group").html($("#search_result .group-box"));
    $(".selected-group").attr('gid', '-1');
    $("#group-placeholder").addClass("hidden");
    $("#wide-modal").modal('close');
  });

  $(document).on("click", '.submit-search', function() {
    $('#global_search_form').submit();
  });
</script>
