<style>
  .chip-icon {
    cursor: pointer;
    float: right;
    font-size: 16px;
    line-height: 32px;
    padding-left: 8px;
  }
  .hostview_copy_ip {
    font-size: 18px;
    margin-left: 10px;
  }
  .hostview_link {
    font-size: 22px;
    margin-left: 10px;
    vertical-align: middle;
  }
  .collapsible-header {
    border-bottom: none !important;
  }
  .collapsible-body {
    border-bottom: none !important;
  }
</style>
<span class="card-title"><span id="hostview_ip"><%= "#{client.ip}" %></span><a href="#" id="hostview_copy_ip"><i class="material-icons hostview_copy_ip">content_copy</i></a></span>
<table class="responsive-table">
  <thead>
    <tr>
      <th>Hostname</th>
      <th>MAC</th>
      <th>Labels</th>
      <th>Groups</th>
    </tr>
  <thead>
  <tbody>
    <tr>
      <td><%= "#{client.hostname}" %></td>
      <td><%= "#{client.mac}" %>
        <% if client.vendor.to_s.length > 0 %>
            <br />(<%= "#{client.vendor}" %>)
        <% end %>
      </td>
      <td>
        <% client.labels.to_a.each do |label|%>
            <div class="chip <%= label.priority%>"><%= label.name%></div>
        <% end %>
      </td>
      <td>
        <% client.groups.to_a.each do |group|%>
            <div class="chip"><%= group.name%></div>
        <% end %>
      </td>
    </tr>
  </tbody>
</table>
<div class="valign-wrapper" style="padding-bottom: 10px; padding-top: 20px">
  <i class="material-icons grey-text text-darken-2" style="margin-right: 5px;">settings</i><b>Operating System</b>
</div>
<p style="padding-bottom: 20px;"><%= "#{client.os}" %></p>
<table class="responsive-table">
  <thead>
    <tr>
      <th>Port</th>
      <th>Desc</th>
      <th>Content</th>
      <th></th>
    </tr>
  <thead>
  <tbody>
    <% client.ports.all.order(:number).to_a.each do |port| %>
        <tr>
          <td>
            <span><%= "#{port.number}" %></span>
            <% if port.service_short %>
              <!-- HTTP Service -->
              <% if port.service_short.include? "http" %>
                <%= link_to port.url_ip, target: "_blank" do %>
                  <i class="material-icons hostview_link grey-text text-darken-2">link</i>
                <% end %>
                <!-- show custom button for link with hostname if exists -->
                <% url_host = port.url_host %>
                <% if url_host %>
                  <%= link_to url_host, target: "_blank" do %>
                    <i class="material-icons hostview_link tooltipped" data-position="top" data-tooltip="Open link with hostname instead of IP">link</i>
                  <% end %>
                <% end %>
              <% end %>
            <% end %>
          </td>
          <td><%= "#{port.service}" %></td>
          <% if port.image.attached? %>
            <td><%= "#{port.description}" %></td>
            <td><%= image_tag url_for(port.image), :class => "materialboxed", width: '120' %></td>
          <% else %>
            <td colspan="2"><%= "#{port.description}" %></td>
          <% end %>
        </tr>
        <% if port.outputs.count > 0 %>
            <tr>
              <td colspan="4">
                <ul class="collapsible" data-collapsible="expandable">
                  <% port.outputs.to_a.each do |output| %>
                    <li>
                      <div class="collapsible-header"><i class="material-icons rotate">keyboard_arrow_right</i><%= "#{output.name}" %></div>
                      <div class="collapsible-body mono">
                        <% output.value.split(/\n/).each do |line| %>
                            <span><%= "#{line}"%></span>
                        <% end%>
                      </div>
                    </li>
                  <% end%>
                </ul>
              </td>
            </tr>
        <% end %>
    <% end %>
  </tbody>
</table>
<% if client.outputs.count > 0 %>
  <div class="valign-wrapper" style="padding-bottom: 20px; padding-top: 20px">
    <i class="material-icons grey-text text-darken-2" style="margin-right: 5px;">extension</i><b>Hostscripts</b>
    <span class="badge"><%= "#{client.outputs.count}"%></span>
  </div>
  <ul class="collapsible" data-collapsible="expandable">
    <% client.outputs.to_a.each do |output| %>
      <li>
        <div class="collapsible-header"><i class="material-icons rotate">keyboard_arrow_right</i><%= "#{output.name}" %></div>
        <div class="collapsible-body mono">
          <% output.value.split(/\n/).to_a.each do |cur_line| %>
              <span><%= "#{cur_line}"%></span>
          <% end%>
        </div>
      </li>
    <% end%>
  </ul>
  </div>
<% end %>

<%= javascript_tag do %>
  $('.collapsible').collapsible();
<% end %>
