<div class="btn-toolbar mb-3 d-flex" role="toolbar">
  <div class="btn-group me-auto" role="group" aria-label="group-actions">
    <button type="button" class="btn btn-sm btn-primary hostview_copy_ip"><i id="hostview_ip_icon" class="fas fa-copy me-2"></i><span id="hostview_ip"><%= "#{client.ip}" %></span></button>
  </div>
  <% report_parts = client.report_parts %>
  <% if report_parts.size > 0 %>
    <div class="btn-group me-1" role="group" aria-label="group-actions">
      <button class="btn btn-sm btn-outline-danger dropdown-toggle" data-bs-toggle="dropdown" aria-expanded="false">
        <i class="fas fa-bug me-1"></i><%= report_parts.size %>
      </button>
      <ul class="dropdown-menu">
      <% report_parts.order(:index).each do |rp| %>
        <% if rp.is_a? Issue %>
          <li><span class="dropdown-item disabled" style="color: <%= rp.color_hex %>"><%= rp.title %></span></li>
        <% end %>
      <% end %>
      </ul>
    </div>
  <% end %>
  <div class="btn-group me-1" role="group" aria-label="group-actions">
    <%= link_to clients_new_issue_form_path(client), remote: true, class: "btn btn-sm btn-outline-danger" do %><i class="fas fa-bug me-2"></i>new<% end %>
  </div>
  <div class="btn-group me-1" role="group" aria-label="group-actions">
    <%= link_to clients_link_issue_form_path(client), remote: true, class: "btn btn-sm btn-outline-warning" do %><i class="fas fa-bug me-2"></i>ln -s<% end %>
  </div>
  <div class="btn-group" role="group" aria-label="group-actions">
    <%= link_to new_note_path(client.model_name, client), remote: true, class: "btn btn-sm btn-outline-success" do %><i class="fas fa-sticky-note me-2"></i>echo "note"<% end %>
  </div>
</div>
<div class="d-flex mt-2 pb-2 align-items-center text-muted border-bottom">
  <i class="fas fa-fingerprint fs-5 me-3"></i>
  <span>
    <strong class="d-block small mb-1">Hostname | MAC | Vendor</strong>
    <span class="badge bg-light text-primary"><%= "#{client.hostname}" %></span>
    <span class="badge bg-light text-dark"><%= "#{client.mac}" %></span>
    <span class="badge bg-light text-dark"><%= "#{client.vendor}" %></span>
  </span>
</div>
<div class="d-flex mt-2 pb-2 align-items-center text-muted border-bottom">
  <i class="fas fa-cogs fs-5 me-3"></i>
  <span class="small">
    <strong class="d-block">Operating System</strong>
    <span class="fs-6"><%= "#{client.os}" if client.os %></span>
  </span>
</div>
<div class="row">
  <div class="col">
    <div class="d-flex mt-2 pb-2 align-items-center text-muted">
      <i class="fas fa-layer-group fs-5 me-3"></i>
      <span class="small">
        <strong class="d-block">Groups</strong>
        <% client.groups.to_a.each do |group|%>
          <span class="badge bg-primary"><%= "#{group.name}" %></span>
        <% end %>
      </span>
    </div>
  </div>
  <div class="col">
    <div class="d-flex mt-2 pb-2 align-items-center text-muted">
      <i class="fas fa-tags fs-5 me-3"></i>
      <span class="small">
        <strong class="d-block">Labels</strong>
        <% if client.labels.size == 0 %>
          <span class="badge bg-light text-dark">No Label</span>
        <% else %>
          <% client.labels.uniq.to_a.each do |label|%>
            <span class="badge bg-<%= label.priority %>"><%= label.name %></span>
          <% end %>
        <% end %>
      </span>
    </div>
  </div>
</div>
<div class="notes-container">
  <% client.notes.each do |note| %>
    <div class="alert alert-success alert-dismissible fade show mt-3" role="alert">
      <%= note.content %>
      <button type="button" id="<%= note.id %>" onclick="this.blur();delete_note(this.id);" class="btn-close" aria-label="Close"></button>
  </div>
  <% end %>
</div>

<div class="list-group mt-3">
  <% client.ports.all.order(:number).to_a.each do |port| %>
  <div class="d-flex mb-3 align-items-center">
    <div class="flex-fill">
      <% if port.outputs.size > 0  %>
        <a data-bs-target="#collapsePort<%= port.number %>" role="button" data-bs-toggle="collapse" aria-expanded="false" aria-controls="collapsePort<%= port.number %>" class="list-group-item">
          <div class="d-flex align-items-center">
            <span class="badge bg-light text-dark me-2"><%= "#{port.number}" %> / <%= "#{port.service}" %></span>
            <span class="flex-fill"><%= "#{port.description}" %></span>
            <i class="fas fa-caret-down"></i>
          </div>
        </a>
      <% else %>
        <div class="list-group-item">
          <div class="d-flex align-items-center">
            <span class="badge bg-light text-dark me-2"><%= "#{port.number}" %> / <%= "#{port.service}" %></span>
            <span><%= "#{port.description}" %></span>
          </div>
        </div>
      <% end %>
    </div>
    <% if port.service_short %>
      <div class="ms-3 btn-group" role="group">
      <!-- HTTP Service -->
        <% if port.service_short.include? "http" %>
          <%= link_to port.url_ip, target: "_blank", class: "btn btn-outline-secondary" do %>
            <i class="fas fa-link"></i>
          <% end %>
          <!-- show custom button for link with hostname if exists -->
          <% url_host = port.url_host %>
          <% if url_host %>
            <%= link_to url_host, target: "_blank", class: "btn btn-outline-primary" do %>
              <i class="fas fa-link"></i>
            <% end %>
          <% end %>
        <% end %>
      </div>
    <% end %>
    <% if port.image.attached? %>
      <button type="button" class="ms-3 btn btn-outline-primary" data-bs-toggle="modal" data-bs-target="#modalPortImage<%= port.number %>"><i class="fas fa-image"></i></button>
      <div class="modal fade" id="modalPortImage<%= port.number %>" tabindex="-1" aria-labelledby="modalPortImage<%= port.number %>" aria-hidden="true">
        <div class="modal-dialog modal-xl">
          <div class="modal-content">
            <div class="modal-header mb-2">
              <h5 class="modal-title"></h5>
              <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <%= image_tag url_for(port.image), class: 'w-100' %>
          </div>
        </div>
      </div>
    <% end %>
  </div>
    <% if port.outputs.size > 0 %>
      <div class="collapse" id="collapsePort<%= port.number %>">
        <% port.outputs.to_a.each do |output| %>
          <div class="bg-light p-4 mt-1 mb-3">
            <span class="badge bg-primary mb-3"><%= "#{output.name}" %></span>
            <% output.value.split(/\n/).each do |line| %>
              <pre class="font-monospace"><%= line %></pre>
            <% end%>
          </div>
        <% end %>
      </div>
    <% end %>
  <% end %>
</div>
<% if client.outputs.count > 0 %>
  <div class="list-group mt-1">
    <% client.outputs.to_a.each do |output| %>
      <a data-bs-target="#collapsePort<%= output.name %>" role="button" data-bs-toggle="collapse" aria-expanded="false" aria-controls="collapsePort<%= output.name %>" class="list-group-item">
        <div class="d-flex align-items-center">
          <span class="badge bg-primary"><%= "#{output.name}" %></span>
          <span class="flex-fill"></span>
          <i class="fas fa-caret-down"></i>
        </div>
      </a>
      <div class="collapse" id="collapsePort<%= output.name %>">
        <div class="bg-light p-4 mt-3 mb-3">
          <% output.value.split(/\n/).each do |line| %>
            <pre class="font-monospace"><%= line %></pre>
          <% end%>
        </div>
      </div>
    <% end %>
  </div>
<% end %>
