<% @report_parts.order(:index).each do |rp| %>
  <% if rp.is_a? Issue %>
    <div class="btn-group d-flex btn-group-action-wrapper" role="group">
      <%= link_to edit_issue_path(rp), class: "btn flex-grow-1 text-left list-group-item-action", remote: true do %>
        <i style="color: <%= rp.color_hex %>" class="fas fa-bug mr-2"></i><%= rp.title %> - #<%= rp.index %>
      <% end %>
      <div class="btn-group" role="group">
        <button id="btnIDrpp<%= rp.id %>" type="button" class="btn dropdown-toggle btn-group-action" data-toggle="dropdown" aria-expanded="false"></button>
        <ul class="dropdown-menu" aria-labelledby="btnDrpp<%= rp.id %>">
          <li>
            <%= link_to confirm_create_template_path(rp), class: "dropdown-item", remote: :true do %>
              <i class="fas fa-plus text-success mr-2"></i>Add as new issue template to remote database
            <% end %>
          </li>
          <li>
            <%= link_to confirm_update_template_path(rp), class: "dropdown-item", remote: :true do %>
              <i class="fas fa-save text-primary mr-2"></i>Update linked issue template on remote database
            <% end %>
          </li>
          <li>
            <%= link_to issue_path(rp), method: :delete, class: "dropdown-item", data: { confirm: 'The issue and according screenshots will be deleted. Are you sure?' }, remote: :true do %>
              <i class="fas fa-trash text-danger mr-2"></i>Delete issue
            <% end %>
          </li>
          <li><hr class="dropdown-divider"></li>
          <% @report_parts_ig.each do |report_part_ig| %>
            <li>
              <%= link_to change_parent_path(@current_report,rp,report_part_ig.id), class: "dropdown-item", remote: true do %>
                <i class="fas fa-layer-group mr-2"></i><%= "Change parent to #{report_part_ig.title}" %>
              <% end %>
            </li>
          <% end %>
          <li>
            <%= link_to change_parent_path(@current_report,rp,"0"), class: "dropdown-item", remote: true do %>
              <i class="fas fa-layer-group mr-2"></i><%= "Change parent to current report (root level)" %>
            <% end %>
          </li>
        </ul>
      </div>
    </div>
  <% end %>
  <% if rp.is_a? IssueGroup %>
    <div class="btn-group" role="group">
      <%= link_to edit_issue_group_path(rp), remote: true, class: "btn list-group-item list-group-item-action active" do %>
        <% if rp.title.to_s.empty? %>
          <i class="fas fa-folder-open mr-2"></i>Issue Group  - #<%= rp.index %>
        <% else %>
          <i class="fas fa-folder mr-2"></i><%= rp.title %> - #<%= rp.index %>
        <% end %>
      <% end %>
      <div class="btn-group" role="group">
        <button id="btnIGDrpp<%= rp.id %>" type="button" class="btn btn-primary dropdown-toggle" data-toggle="dropdown" aria-expanded="false"></button>
        <ul class="dropdown-menu" aria-labelledby="btnDrpp<%= rp.id %>">
          <li>
            <%= link_to issue_group_path(rp), class: "dropdown-item", method: :delete, data: { confirm: 'The issue group will be deleted. Are you sure?' }, remote: :true do %>
              <i class="fas fa-trash mr-2 text-danger"></i>Delete issue group
            <% end %>
          </li>
          <li><hr class="dropdown-divider"></li>
          <% @report_parts_ig.each do |report_part_ig| %>
            <li>
              <% next if report_part_ig.id.equal? rp.id %>
              <%= link_to change_parent_path(@current_report,rp,report_part_ig.id), class: "dropdown-item", remote: true do %>
                <i class="fas fa-layer-group mr-2"></i><%= "Change parent to #{report_part_ig.title}" %>
              <% end %>
            </li>
          <% end %>
          <li>
            <%= link_to change_parent_path(@current_report,rp,"0"), class: "dropdown-item", remote: true do %>
              <i class="fas fa-layer-group mr-2"></i><%= "Change parent to current report (root level)" %>
            <% end %>
          </li>
        </ul>
      </div>
    </div>
    <% unless rp.report_parts.empty? %>
      <% @report_parts = rp.report_parts %>
      <div class="ml-4">
        <%= render partial: "report_parts/report_part_tree" %>
      </div>
    <% end %>
  <% end %>
<% end %>
