<p id="notice"><%= notice %></p>

<p>
  <strong>Title:</strong>
  <%= @report_part.title %>
</p>

<p>
  <strong>Severity:</strong>
  <%= @report_part.severity %>
</p>

<p>
  <strong>Description:</strong>
  <%= @report_part.description %>
</p>

<p>
  <strong>Customtargets:</strong>
  <%= @report_part.customtargets %>
</p>

<p>
  <strong>Rating:</strong>
  <%= @report_part.rating %>
</p>

<p>
  <strong>Recommendation:</strong>
  <%= @report_part.recommendation %>
</p>

<p>
  <strong>Type:</strong>
  <%= @report_part.type %>
</p>

<p>
  <strong>Index:</strong>
  <%= @report_part.index %>
</p>

<%= link_to 'Edit', edit_report_part_path(@report_part) %> |
<%= link_to 'Back', report_parts_path %>
