<div class="container mt-5">
  <div class="row">
    <div class="col">
      <p class="lead text-center">Issue templates</p>
      <div class="accordion" id="accordionSQL">
        <div class="accordion-item">
          <h2 class="accordion-header" id="headingStructure">
            <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#collapseStructure" aria-expanded="true" aria-controls="collapseStructure">
              View the mysql databse structure for remote issue templates
            </button>
          </h2>
          <div id="collapseStructure" class="accordion-collapse collapse" aria-labelledby="headingStructure" data-bs-parent="#accordionSQL">
            <div class="accordion-body font-monospace">
            <span>CREATE TABLE `issue_templates` (<br></span>
            <span>&nbsp;&nbsp;`id` int(11) NOT NULL,<br></span>
            <span>&nbsp;&nbsp;`title` varchar(255) DEFAULT NULL,<br></span>
            <span>&nbsp;&nbsp;`description` text DEFAULT NULL,<br></span>
            <span>&nbsp;&nbsp;`rating` text DEFAULT NULL,<br></span>
            <span>&nbsp;&nbsp;`recommendation` text DEFAULT NULL,<br></span>
            <span>&nbsp;&nbsp;`severity` int(11) DEFAULT NULL<br></span>
            <span>) ENGINE=InnoDB DEFAULT CHARSET=latin1;<br></span>
            <br>
            <span>ALTER TABLE `issue_templates` ADD PRIMARY KEY (`id`);<br></span>
            <span>ALTER TABLE `issue_templates` MODIFY `id` int(11) NOT NULL AUTO_INCREMENT;<br></span>
            <span>SET FOREIGN_KEY_CHECKS=1;</span>
            </div>
          </div>
        </div>
      </div>
      <div class="card border-warning mt-3">
        <div class="card-header">mysql connection string</div>
        <div class="card-body">
          <div class="alert alert-warning p-2" role="alert">
            All issue templates will be wiped in your local database when these are imported.
          </div>
          <%= simple_form_for :settings, url: update_settings_path, :remote => true do |f| %>
            <input type="hidden" name="mysql_connection" value="true">
            <div class="input-group">
              <input id="mysql_connection_setting" name="mysql_connection_setting" placeholder='{"host"=>"mysql", "username"=>"root", "password"=>"mypass123", "database"=>"testdb"}' type="text" class="form-control" value="<%= @mysql_connection %>">
              <button type="submit" class="btn btn-outline-success" type="button"><i class="fas fa-save me-2"></i>Save</button>
              <button onclick="$('#frm_import_issue_templates').submit();" class="btn btn-outline-dark" type="button"><i class="fas fa-cloud-download-alt me-2"></i>Import</button>
            </div>
          <% end %>
          <%= simple_form_for :settings, url: update_settings_path, :remote => true, html: { id: "frm_import_issue_templates" }  do |f| %>
            <input type="hidden" name="import_issue_templates" value="true">
          <% end %>
        </div>
      </div>
    </div>
  </div>
  <p class="lead text-center mt-5">Scan options</p>
  <div class="row">
    <div class="col-6">
      <%= simple_form_for :settings, url: update_settings_path, :remote => true do |f| %>
        <input type="hidden" name="max_host_per_scan" value="true">
        <%
          max_host_per_scan = YAML.safe_load(current_user.settings.where(name: 'max_host_per_scan').first_or_create.value)
          max_host_per_scan ||= '0'
        %>
        <label for="max_host_per_scan_setting" class="form-label">Set the number of hosts per scan (splitting)</label>
        <div class="input-group">
          <input class="form-control" id="max_host_per_scan_setting" name="max_host_per_scan_setting" placeholder='Use "0" unlimited' type="text" value="<%= max_host_per_scan %>">
          <button type="submit" name="action" class="btn btn-outline-dark"><i class="fas fa-sync"></i></button>
        </div>
      <% end %>
    </div>
    <div class="col-6">
      <%= simple_form_for :settings, url: update_settings_path, :remote => true do |f| %>
        <%
          hosts = YAML.safe_load(current_user.settings.where(name: 'exclude_hosts').first_or_create.value)
          hosts ||= ''
        %>
        <label for="max_host_per_scan_setting" class="form-label">Hosts to exclude</label>
        <div class="input-group">
          <textarea id="hosts" name="hosts" class="form-control"><%= hosts.strip %></textarea>
          <button type="submit" name="action" class="btn btn-outline-dark"><i class="fas fa-sync"></i></button>
        </div>
      <% end %>
    </div>
  </div>
  <div class="row">
    <div class="col">
      <p class="lead text-center mt-5">General options</p>
      <%= simple_form_for :settings, url: update_settings_path, :remote => true do |f| %>
         <input type="hidden" name="global_notify" value="true">
        <div class="input-group mt-3 ">
          <span class="input-group-text">Enable / disable global notifications</span>
          <div class="input-group-text">
            <input class="form-check-input mt-0" type="checkbox" id="global_notify_setting" name="global_notify_setting" <%= 'checked="checked"' if current_user.settings.find_by_name('global_notify').value.include? "true" %> />
          </div>
          <button type="submit" name="action" class="btn btn-outline-dark"><i class="fas fa-sync"></i></button>
        </div>
      <% end %>
    </div>
  </div>
</div>
