<style>
  .form-margin {
    margin-top: 4em;
    padding: 40px;
    background-color: white;
  }
</style>

<div class="container">
  <div class="row" style="padding-top: 2em;">
    <div class="col s6">
      <div class="row">
        <div class="col s12">
          <ul class="tabs tabs-fixed-width">
            <li class="tab col s6"><a href="#quick_settings">Quick settings</a></li>
            <li class="tab col s6"><a href="#issue_settings">Issue settings</a></li>
          </ul>
        </div>
        <div id="quick_settings" class="col s12">
          <div class="white">
            <div class="container" style="padding: 2em;">
              <div class="row">
                <%= simple_form_for :settings, url: update_settings_path, :remote => true do |f| %>
                  <%= f.error_notification %>
                  <div class="col s4">
                    <p class="grey-text text-darken-2 tooltipped" data-position="bottom" data-delay="50" data-tooltip="Import database">Import</p>
                  </div>
                  <div class="col s6">
                    <div class="file-field">
                      <input id="import_db" name="import_db[]" type="file" accept=".zip">
                      <div class="file-path-wrapper">
                        <input class="file-path validate" type="text" placeholder="Select a database file">
                      </div>
                    </div>
                  </div>
                  <div class="input-field form-actions col s2" >
                    <button class="btn tooltipped" data-position="bottom" data-delay="50" data-tooltip="Import database" type="submit" name="action"><i class="fa fa-upload"></i></button>
                  </div>
                <% end %>
              </div>
              <div class="row" style="padding-top: 2em;">
                <%= simple_form_for :settings, url: update_settings_path do |f| %>
                  <%= f.error_notification %>
                  <div class="col s4">
                    <p class="grey-text text-darken-2 tooltipped" data-position="bottom" data-delay="50" data-tooltip="Export / download current database">Export</p>
                  </div>
                  <div class="col s6">
                    <input type="hidden" name="export_db" value="true">
                  </div>
                  <div class="input-field form-actions col s2" >
                      <button class="btn tooltipped" data-position="bottom" data-delay="50" data-tooltip="Export / download database" type="submit" name="action"><i class="fa fa-download"></i></button>
                  </div>
                <% end %>
              </div>
              <div class="row" style="padding-top: 2em;">
                <%= simple_form_for :settings, url: update_settings_path, :remote => true do |f| %>
                  <%= f.error_notification %>
                  <div class="col s6">
                    <p class="grey-text text-darken-2 tooltipped" data-position="bottom" data-delay="50" data-tooltip="Enable / disable global notifications">Global notifications</p>
                  </div>
                  <div class="col s4">
                  <p>
                    <input type="hidden" name="global_notify" value="true">
                    <label>
                      <input type="checkbox" id="global_notify_setting" name="global_notify_setting" <%= 'checked="checked"' if current_user.settings.find_by_name('global_notify').value.include? "true" %> />
                      <span></span>
                    </label>
                  </p>
                  </div>
                  <div class="input-field form-actions col s2" >
                    <button class="btn tooltipped" data-position="bottom" data-delay="50" data-tooltip="Update global notification settings" type="submit" name="action"><i class="fa fa-refresh"></i></button>
                  </div>
                <% end %>
              </div>
              <div class="row" style="padding-top: 2em;">
                <%= simple_form_for :settings, url: update_settings_path, :remote => true do |f| %>
                  <%= f.error_notification %>
                  <div class="col s4">
                    <p class="grey-text text-darken-2 tooltipped" data-position="bottom" data-delay="50" data-tooltip="Set the number of hosts per scan">Hosts per scan</p>
                  </div>
                  <div class="col s6">
                    <input type="hidden" name="max_host_per_scan" value="true">
                    <label>
                      <%
                          max_host_per_scan = YAML.safe_load(current_user.settings.where(name: 'max_host_per_scan').first_or_create.value)
                        max_host_per_scan ||= '0'
                      %>
                      <input id="max_host_per_scan_setting" name="max_host_per_scan_setting" placeholder='Use "0" unlimited' type="text" class="validate" value="<%= max_host_per_scan %>">
                      <span></span>
                    </label>
                  </div>
                  <div class="input-field form-actions col s2" >
                    <button class="btn tooltipped" data-position="bottom" data-delay="50" data-tooltip="Update global notification settings" type="submit" name="action"><i class="fa fa-refresh"></i></button>
                  </div>
                <% end %>
              </div>
            </div>
          </div>
        </div>
        <div id="issue_settings" class="col s12">
          <div class="white">
            <div class="container" style="padding: 2em;">
              <div class="row" style="padding-top: 2em;">
                <%= simple_form_for :settings, url: update_settings_path, :remote => true do |f| %>
                  <%= f.error_notification %>
                  <div class="col s4">
                    <p class="grey-text text-darken-2 tooltipped" data-position="bottom" data-delay="50" data-tooltip="Set the mysql connection string as json for syncing report templates">mysql connection</p>
                  </div>
                  <div class="col s6">
                    <input type="hidden" name="mysql_connection" value="true">
                    <label>
                      <input id="mysql_connection_setting" name="mysql_connection_setting" placeholder='{"host"=>"mysql", "username"=>"root", "password"=>"mypass123", "database"=>"testdb"}' type="text" class="validate" value="<%= @mysql_connection %>">
                      <span></span>
                    </label>
                  </div>
                  <div class="input-field form-actions col s2" >
                    <button class="btn tooltipped" data-position="bottom" data-delay="50" data-disable="true" data-tooltip="Update / test mysql connection string" type="submit" name="action"><i class="fa fa-refresh"></i></button>
                  </div>
                <% end %>
              </div>
              <div class="row">
                <%= simple_form_for :settings, url: update_settings_path, :remote => true do |f| %>
                  <%= f.error_notification %>
                  <div class="col s4">
                    <p class="grey-text text-darken-2">Import issue templates&nbsp;
                      <i class="material-icons tooltipped red-text text-darken-2" data-position="bottom" data-delay="50" data-tooltip="Warning! All issue templates will be wiped in your local database.">info_outline</i>
                    </p>
                  </div>
                  <div class="col s6">
                  </div>
                  <div class="input-field form-actions col s2" >
                    <button class="btn tooltipped" data-position="bottom" data-delay="50" data-tooltip="Import issue templates from remote mysql server" type="submit" name="action"><i class="fa fa-download"></i></button>
                  </div>
                <% end %>         
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="col s6">
      <div class="row">
        <div class="col s12">
          <ul class="tabs tabs-fixed-width">
            <li class="tab col s12"><a href="#exclude">Hosts to exclude</a></li>
          </ul>
        </div>
        <div id="exclude" class="col s12">
          <div class="white">
            <div class="container">
              <div class="row" style="padding: 2em;">
                <%= simple_form_for :settings, url: update_settings_path, :remote => true do |f| %>
                  <%= f.error_notification %>
                  <div class="row">
                    <div class="input-field col s10">
                        <%
                        hosts = YAML.safe_load(current_user.settings.where(name: 'exclude_hosts').first_or_create.value)
                        hosts ||= ''
                        %>
                      <textarea id="hosts" class="materialize-textarea" name="hosts"><%= hosts.strip %></textarea>
                    </div>
                    <div class="input-field form-actions col s2" style="margin-top: 4em;">
                      <button class="btn tooltipped" data-position="bottom" data-delay="50" data-tooltip="Update excluded hosts" type="submit" name="action"><i class="fa fa-refresh"></i></button>
                    </div>
                  </div>
                <% end %>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
