
<%= simple_form_for(@report) do |f| %>
  <%= f.error_notification %>
  <%= f.error_notification message: f.object.errors[:base].to_sentence if f.object.errors[:base].present? %>

  <div class="form-inputs">
    <%= f.input :summary %>
    <%= f.input :conclusion %>
    <%= f.input :logo_url %>
    <%= f.input :contact_person %>
    <%= f.input :company_name %>
    <%= f.input :street %>
    <%= f.input :postalcode %>
    <%= f.input :city %>
    <%= f.input :title %>
  </div>

  <div class="form-actions">
    <%= f.button :submit %>
  </div>
<% end %>
