<div class="container-fluid mt-4 pl-0">
  <div class="row">
    <div class="col-3">
      <div id="report_tree">
        <%= render partial: "report_parts/report_tree" %>
      </div>
    </div>
    <div class="col-9 editor-container">
      <% if @report_parts.empty? %>
        <div class="alert alert-primary" role="alert">
          No issue group exists yet. Use "Site actions" in the lower right corner to create one.
        </div>
      <% end %>
    </div>
  </div>
  <div class="site-action">
    <div class="dropup">
      <button type="button" class="btn btn-primary dropdown-toggle border border-white" data-bs-toggle="dropdown" aria-expanded="false" id="dropdownSiteActions">
        <i class="fas fa-terminal me-2"></i>Site actions
      </button>
      <ul class="dropdown-menu dropdown-menu-end" aria-labelledby="dropdownSiteActions">
        <% case current_user.settings.where(name: 'report_mode').first_or_create.value %>
        <% when "presentation" %>
          <li>
            <%= simple_form_for :settings, url: update_settings_path do |f| %>
              <input type="hidden" value="edit" name="report_mode"/>
              <a href="#" onclick='$(this).parent().submit();' class="dropdown-item"><i class="fab fa-chromecast me-2"></i>Disable presentation mode</a>
            <% end %>
          </li>
        <% else %>
          <li>
            <%= link_to new_issue_group_path, remote: true, class: "dropdown-item" do %>
              <i class="fas fa-folder-plus me-2"></i>Add new issue group
            <% end %>
          </li>
          <li>
            <%= link_to new_issue_path, remote: true, class: "dropdown-item" do %>
              <i class="fas fa-plus me-2"></i>Add new issue
            <% end %>
          </li>
          <li>
            <%= simple_form_for :settings, url: update_settings_path do |f| %>
              <input type="hidden" value="presentation" name="report_mode"/>
              <a href="#" onclick='$(this).parent().submit();' class="dropdown-item"><i class="fab fa-chromecast me-2"></i>Enable presentation mode</a>
            <% end %>
          </li>
          <li>
            <%= link_to edit_report_path(@current_report), remote: true, class: "dropdown-item" do %>
              <i class="fas fa-edit me-2"></i>Edit report meta and summary
            <% end %>
          </li>
          <li>
            <%= link_to export_odt_path(@current_report), class: "dropdown-item" do %>
              <i class="fas fa-file-word me-2"></i>Export current report as docx
            <% end %>
          </li>
          <li>
            <%= link_to export_xlsx_path(@current_report), class: "dropdown-item" do %>
              <i class="fas fa-file-excel me-2"></i>Export current report as xlsx
            <% end %>
          </li>
        <% end %>
      </ul>
    </div>
  </div>
</div>
<script>
  var pasteTarget = document.getElementsByTagName("body");
  pasteTarget[0].addEventListener("paste", uploadClipboardData);
  function uploadClipboardData(e){
      for (var i = 0 ; i < e.clipboardData.items.length ; i++) {
          var item = e.clipboardData.items[i];
          if (item.type.indexOf("image") != -1) {
              var fileInput = document.getElementById("issue_screenshot_image");
              fileInput.files = e.clipboardData.files;
              $("#issue_screenshot_image_path").val("Image from clipboard ...");
          };
      };
  };
  $(window).bind('keydown', function(event) {
    if (event.ctrlKey || event.metaKey) {
      switch (String.fromCharCode(event.which).toLowerCase()) {
      case 's':
          event.preventDefault();
          $(".btn-save").trigger("click");
          break;
      }
    }
  });
</script>
