<p id="notice"><%= notice %></p>

<p>
  <strong>Summary:</strong>
  <%= @report.summary %>
</p>

<p>
  <strong>Conclusion:</strong>
  <%= @report.conclusion %>
</p>

<p>
  <strong>Logo url:</strong>
  <%= @report.logo_url %>
</p>

<p>
  <strong>Contact person:</strong>
  <%= @report.contact_person %>
</p>

<p>
  <strong>Company name:</strong>
  <%= @report.company_name %>
</p>

<p>
  <strong>Street:</strong>
  <%= @report.street %>
</p>

<p>
  <strong>Postalcode:</strong>
  <%= @report.postalcode %>
</p>

<p>
  <strong>City:</strong>
  <%= @report.city %>
</p>

<p>
  <strong>Title:</strong>
  <%= @report.title %>
</p>

<%= link_to 'Edit', edit_report_path(@report) %> |
<%= link_to 'Back', reports_path %>
