<%= simple_form_for @issue_template do |f| %>
    <%= f.input :title, required: true, wrapper_html: { class: 's5' } %>
    <%= f.input :severity, wrapper_html: { class: 's1' } %>
    <div class="col s6 input-field">
        <button type="submit" class="btn right blue darken-2"> <i class="material-icons left">cached</i>Update</button>
    </div>
    <%= f.input :description, wrapper_html: { class: 's12' }, input_html: { class: 'markdown-textarea'} %>
    <%= f.input :rating, wrapper_html: { class: 's6' }, input_html: { class: 'markdown-textarea'} %>
    <%= f.input :recommendation, wrapper_html: { class: 's6' }, input_html: { class: 'markdown-textarea'} %>
<% end %>
