<div class="container-fluid pt-4">
  <div class="row">
    <div class="col-2">
      <div class="form-check form-switch mb-3">
        <input class="form-check-input select-all-none" type="checkbox" id="flexSwitchCheckChecked" checked>
        <label class="form-check-label" for="flexSwitchCheckChecked">Toogle select all/none groups</label>
      </div>
      <%= render partial: "groups/group_list" %>
    </div>
    <div class="col-10">
      <div class="row">
        <% unless @images.count > 0 %>
        <div class="col-12">
          <div class="alert alert-primary" role="alert">Use "Site actions" in the lower right corner to start a new screenshot scan and get some nice images</div>
        </div>
        <% else %>
          <% @images.each do | image | %>
            <div class="col-4 pb-4 <%= image.record.client.groups.map {|g| g.id }.join(" ") %>">
              <% image_url_ip = image.record.url_ip %>
              <% image_url_host = image.record.url_host %>
              <%= link_to image_url_ip, target: "_blank" do %>
                <%= image_tag url_for(image), width: '100%' %>
              <% end %>
            </div>
          <% end %>
        <% end %>
      </div>
    </div>
  </div>
</div>
<div class="site-action">
  <div class="btn-group dropup">
    <button type="button" class="btn btn-primary dropdown-toggle border border-white" data-toggle="dropdown" aria-expanded="false">
      <i class="fas fa-terminal mr-2"></i>Site actions
    </button>
    <ul class="dropdown-menu dropdown-menu-right">
      <li>
        <%= link_to images_scan_all_path, remote: true, class: "dropdown-item" do %>
          <i class="far fa-image mr-2"></i>Screenshot new webservices
        <% end %>
      <li>
        <%= link_to images_scan_all_overwrite_path, remote: true, class: "dropdown-item" do %>
          <i class="far fa-images mr-2"></i>Re-Scan all webservices (overwrite)
        <% end %>
      </li>
    </ul>
  </div>
</div>
<script>
  $(document).ready(function(){
    $(".group-collection-item").each(function( index ) {
      $(this).find("i").addClass("text-primary");
    });

    // Display group on click (sidebar)
    $(document).on("click", '.group-collection-item', function() {
      var id = this.getAttribute("gid");

      // get current state
      $state = $(this).find("i").hasClass("text-primary")
      $(this).find("i").toggleClass("text-primary");
      if ($state){
        $('.' + id).fadeOut( "slow", "linear" );
      } else {
        $('.' + id).fadeIn( "slow", "linear" );
      }
      $(this).blur();
    });
    $(document).on("click", '.select-all-none', function() {
      if (this.checked) {
        $(".group-collection-item").each(function() {
          var id = this.getAttribute("gid");
          $(this).find("i").addClass("text-primary");
          $('.' + id).fadeIn( "slow", "linear" );
        });
      } else {
        $(".group-collection-item").each(function() {
          var id = this.getAttribute("gid");
          $(this).find("i").removeClass("text-primary");
          $('.' + id).fadeOut( "slow", "linear" );
        });
      }
      $(this).blur();
    });
    $(".placeholder").click(function() {
      $(".fixed-action-btn").trigger( "click" );
    });
  });
</script>
