<div class="images-container">
    <div class="row">
        <div class="col s2" id="group_list">
        <%= render partial: "groups/group_list" %>
        </div>
        <div class="col s10 offset-s2 center">
            <!-- if no images available show placeholder -->
            <% unless @images.count > 0 %>
                <div class="placeholder tooltipped modal-trigger" href="#scan-interface" data-position="top" data-tooltip="Start a new scan to get some fancy images">
                    <i class="material-icons blue-text text-lighten-4">add</i>
                </div>  
            <% else %>
                <div class="row images-row">
                    <% @images.each do | image | %>
                        <div class="col s3 <%= image.record.client.groups.map {|g| g.id }.join(" ") %>">
                            <%= image_tag url_for(image), :class => "materialboxed", width: '100%' %>
                            <div class="images-meta">
                                <% image_url_ip = image.record.url_ip %>
                                <%= link_to image_url_ip, target: "_blank" do %>
                                    <div class="chip white grey-text text-darken-4"><%= "#{image_url_ip}" %></div>
                                <% end %>
                                <!-- show custom button for link with hostname if exists -->
                                <% unless image.record.client.hostname.empty? %>
                                    <%= link_to image.record.url_host, target: "_blank", class: "btn-floating" do %>
                                        <i class="material-icons tooltipped" data-position="top" data-tooltip="Open link with hostname instead of IP">http</i>
                                    <% end %>
                                <% end %>
                            </div>
                        </div>
                    <% end %>                
                </div>
            <% end %>
        </div>
    </div>
</div>

<!-- floating button -->
<div class="fixed-action-btn">
    <a class="btn-floating btn-large blue darken-3 tooltipped modal-trigger" href="#scan-interface" data-position="left" data-tooltip="Open Scan-Interface">
        <i class="material-icons">add</i>
    </a>
</div>

<!-- modal scan-interface -->
<div id="scan-interface" class="modal modal-fixed-footer">
    <div class="modal-content">
        <%= link_to images_scan_all_path, remote: true, class: "btn-large" do %>
            <i class="material-icons right">cached</i>Re-Scan</a>
        <% end %>
        <%= link_to images_scan_all_overwrite_path, remote: true, class: "btn-large orange darken-2" do %>
            <i class="material-icons right">update</i>Re-Scan with overwrite</a>
        <% end %>
    </div>
</div>

<script>
    $(document).ready(function(){
        $(".group-collection-item").each(function( index ) {
            $(this).find(".fa").addClass("blue-text text-darken-2");
        });
    });
    // Display group on click (sidebar)
    $(document).on("click", '.group-collection-item', function() {        
        var id = this.getAttribute("gid");
         $(this).find(".fa").toggleClass("blue-text text-darken-2");
        $('.' + id).fadeToggle( "slow", "linear" );
        $(this).blur();
    });
</script>
