<div class="container-fluid pt-4">
  <div class="row">
    <div class="col-2">
      <%= render partial: "groups/group_list" %>
    </div>
    <div class="col-10">
      <div class="row">
        <% unless @images.count > 0 %>
          <div class="col-12">
            <div class="alert alert-primary" role="alert">Use "Site actions" in the lower right corner to start a new screenshot scan and get some nice images</div>
          </div>
        <% else %>
          <% @images.each do | image | %>
            <% image_client = image.record.client %>
            <div class="col-4 pb-4 <%= image_client.groups.map {|g| g.id }.join(" ") %> <%= "archived" if image_client.archived? %> <%= "#{image_client.ip.split(".")[0,1].join("_")}_" %> <%= "#{image_client.ip.split(".")[0,2].join("_")}_" %> <%= "#{image_client.ip.split(".")[0,3].join("_")}_" %>">
              <% image_url_ip = image.record.url_ip %>
              <% image_url_host = image.record.url_host %>
              <%= link_to image_url_ip, target: "_blank" do %>
                <%= image_tag url_for(image), width: '100%' %>
              <% end %>
            </div>
          <% end %>
        <% end %>
      </div>
    </div>
  </div>
</div>
<div class="site-action">
  <div class="btn-group dropup">
    <button type="button" class="btn btn-primary dropdown-toggle border border-white" data-bs-toggle="dropdown" id="actionDropdown" aria-expanded="false">
      <i class="fas fa-terminal me-2"></i>Site actions
    </button>
    <ul class="dropdown-menu dropdown-menu-end" aria-labelledby="actionDropdown">
      <li>
        <%= link_to images_scan_all_path, remote: true, class: "dropdown-item" do %>
          <i class="far fa-image me-2"></i>Screenshot new webservices
        <% end %>
      </li>
      <li>
        <%= link_to images_scan_all_overwrite_path, remote: true, class: "dropdown-item" do %>
          <i class="far fa-images me-2"></i>Re-Scan all webservices (overwrite)
        <% end %>
      </li>
    </ul>
  </div>
</div>
<script>
  $(document).ready(function(){
    $(".group-collection-item").each(function( index ) {
      $(this).find("i").addClass("text-primary");
    });
    $(".filter_segment").each(function( index ) {
      $(this).find("i").addClass("text-primary");
    });

    // filter clients on subnet (sidebar)
    $(document).on("click", '.filter_segment', function () {
      $("#group-placeholder").addClass("hidden");
      var segment = this.getAttribute("segment").replaceAll(".", "_");

      // get current state
      $state = $(this).find("i").hasClass("text-primary")
      $(this).find("i").toggleClass("text-primary");
      if ($state){
        $('.' + segment).fadeOut( "slow", "linear" );
      } else {
        $('.' + segment).fadeIn( "slow", "linear" );
      }

      $(this).blur();
    });

    // Display group on click (sidebar)
    $(document).on("click", '.group-collection-item', function() {
      var id = this.getAttribute("gid");

      // get current state
      $state = $(this).find("i").hasClass("text-primary")
      $(this).find("i").toggleClass("text-primary");
      if ($state){
        $('.' + id).fadeOut( "slow", "linear" );
      } else {
        $('.' + id).fadeIn( "slow", "linear" );
      }
      $(this).blur();
    });
    $(document).on("click", '.select-all-none', function() {
      if (this.checked) {
        $(".group-collection-item").each(function() {
          var id = this.getAttribute("gid");
          $(this).find("i").addClass("text-primary");
          $('.' + id).fadeIn( "slow", "linear" );
        });
        $(".filter_segment").each(function() {
          var segment = this.getAttribute("segment").replaceAll(".", "_");;
          $(this).find("i").addClass("text-primary");
          $('.' + segment).fadeIn( "slow", "linear" );
        });
      } else {
        $(".group-collection-item").each(function() {
          var id = this.getAttribute("gid");
          $(this).find("i").removeClass("text-primary");
          $('.' + id).fadeOut( "slow", "linear" );
        });
        $(".filter_segment").each(function() {
          var segment = this.getAttribute("segment").replaceAll(".", "_");;
          $(this).find("i").removeClass("text-primary");
          $('.' + segment).fadeOut( "slow", "linear" );
        });
      }
      $(this).blur();
    });
    $(".placeholder").click(function() {
      $(".fixed-action-btn").trigger( "click" );
    });
  });
</script>
